page-publicar {
    .alert{
        background-color: lightgrey;
        height: 35px;
        text-align: inherit;
     
        

    }
    .msg{
        padding-top: 13px;
        color: lightseagreen;
    }
}
